<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Food Diary</title>
    <link rel="stylesheet" href="static/style5.css">
  </head>
  <body>
    <nav>
      <div class="navbar">
        <center>
          <a class="textinbar" href="/home">Home</a>
          <a class="textinbar" href="/newfood">Add a Food Item</a>
          <a class="textinbar" href="/listview">Food Items</a>
          <a class="textinbar" href="/listconsumedview">Consumed Food Items</a>
          <a class="textinbar" href="/tracker">Food Tracker</a>
          <a class="textinbar" href="#">About</a>
        <center>
      </div>
    </nav>
  </body>
   <h1 class="h1">-:FOOD DIARY:-</h1><br>
   <h2 class="h2">About</h2><hr>
   <p class="p">Hi there!!!<br>Food diary is a super easy food/diet journal.</br>
     Food diary is a daily log of what you eat and drink each day.It allows users to track their food intake.
     The diary helps you understand your eating habits.
     It can help you realize what you consume.Once you know this,you can make changes to your diet to 
     improve your health.Studies have
     found that people who have healthy diet goals are more successful when they keep a FOOD DIARY.
   </p>
</html>
