<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Food Diary</title>
    <link rel="stylesheet" href="static/style1.css">
  </head>
  <body>
    <b><h1 class="h1">FOOD DIARY</h1></b>
    <nav>
      <div class="navbar">
        <center>
          <a class="textinbar" href="#">Home</a>
          <a class="textinbar" href="/newfood">Add a Food Item</a>
          <a class="textinbar" href="/listview">Food Items</a>
          <a class="textinbar" href="/listconsumedview">Consumed Food Items</a>
          <a class="textinbar" href="/tracker">Food Tracker</a>
          <a class="textinbar" href="/about">About</a>
        <center>
      </div><br>
    </nav>
    <p class="p">
        HELLO!!<br><br>Our food diary isn't just about counting calories or restricting food intake, it's about fostering a
        holistic approach to nourishment and self-care. Through the act of logging your meals, you develop a greater awareness 
        of how food impacts your mood, energy levels, and overall well-being. Whether you're a seasoned health 
        enthusiast or just starting your wellness journey, our user-friendly platform provides the tools and support you
        need to succeed.<br><br><b>Track your daily bites and sips with our intuitive food diary.</b>
    </p>
  </body>
</html>
