<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Food Diary</title>
    <link rel="stylesheet" href="static/style3.css">
  </head>
  <body>
    <nav>
      <div class="navbar">
        <center>
          <a class="textinbar" href="/home">Home</a>
          <a class="textinbar" href="/newfood">Add a Food Item</a>
          <a class="textinbar" href="/listview">Food Items</a>
          <a class="textinbar" href="#">Consumed Food Items</a>
          <a class="textinbar" href="/tracker">Food Tracker</a>
          <a class="textinbar" href="/about">About</a>
        <center>
      </div>
    </nav>
    <div class="listp">
      <p><u>List of the Consumed Food Items</u></p>
    </div>
    <div class="forol">
      <ol type="1">
        {% for values in rs %}
        <li>{{values.food_name}}</li>
        Date:<span class="forspan">{{values._date}}</span>
        Carbo:<span class="forspan">{{values.carbo }}gms</span>
        Protein:<span class="forspan">{{values.protein }}gms</span>
        Fat:<span class="forspan">{{values.fat }}gms</span><hr>
        {% endfor %}
      </ol>
    </div>
  </body>
</html>
